{% extends 'upload/layout.html'%}
{% block content %}
<div class="row">
    <div class="col py-5 border-end">
        <form action="" method="POST" enctype="multipart/form-data" id="uploadForm">
            {{form.hidden_tag()}}
            <div class="mb-3">
                {{form.file(class="form-control w-80 mb-2")}}
                <small class="text-muted text-white">
                    Supported document formats: PDF, TXT, DOCX, XLS, XLSX, CSV. You can upload up to 200MB
                    file size.
                </small>
            </div>
            <div class="mb-3">
                {{form.submit(class="btn btn-sm btn-success me-3", id="submitButton")}}
                <div class="spinner-border spinner-border-sm text-warning d-none" id="spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </form>
    </div>
    {% if total_documents == 0 %}
        <div class="col py-5">
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <i class="bi bi-info-circle me-2"></i>
                <div>No documents found.</div>
            </div>
        </div>
    {% else %}
        <div class="col py-2">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
                <a class="btn btn-primary btn-sm me-md-1" href="{{url_for('upload.clear_database')}}" role="button">Clear Database</a>
            </div>
            <table class="table table-sm table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">Uploaded Document</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doc in documents.items %}
                        <tr>
                            <td>{{doc.name}}</td>
                            <td>Embedded</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% block script %}
<script>
    const form = document.getElementById('uploadForm');
    const spinner = document.getElementById('spinner');
    const submitButton = document.getElementById('submitButton');

    form.addEventListener('submit', () => {
        spinner.classList.remove('d-none');
        submitButton.disabled = true; // Disable the submit button
    });
</script>
{% endblock script %}
{% endblock content %}